<a href="https://colab.research.google.com/github/RAHUL20012807/python-data-science/blob/main/Day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
 df=pd.read_csv('https://download.bls.gov/pub/time.series/cu/cu.item',
                 sep='\t')

In [ ]:
df

    item_code  ... sort_sequence
0         AA0  ...             2
1        AA0R  ...           399
2         SA0  ...             1
3        SA0E  ...           374
4       SA0L1  ...           358
..        ...  ...           ...
394   SS68023  ...           352
395   SSEA011  ...           314
396  SSFV031A  ...           122
397   SSGE013  ...           355
398   SSHJ031  ...           165

[399 rows x 5 columns]